<!DOCTYPE html>
<html>
<head>
	<title>Google App Engine</title>
	<h1>Priyanka Sekhar</hi>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<h1>{{output}}
<body>
	
          
          <form action="/register" method="post">

			Name:<br>
			<input type="text" name="username"><br>
			Password:<br>
			<input type="password" name="password"><br>
            
     		 <button class="button button-block"/>new user</button>
         
          </form>
		  <form action="/login" method="post">
		  	Name:<br>
			<input type="text" name="user"><br>
			Password:<br>
			<input type="password" name="pass"><br>	
		  
		  <button class="button button-block"/>login</button>
			</form>

       
</body>
</html>
